DB_HOST=127.0.0.1
DB_PORT=5432
DB_USER=username
DB_PASSWORD=
DB_NAME=eventop_development_db
DB_NAME_TEST=eventop_test_db

REDIS_HOST=127.0.0.1
REDIS_PORT=6379

RABBITMQ_HOST=127.0.0.1
RABBITMQ_PORT=5672
RABBITMQ_EXCHANGE_NAME=eventop_exchange

EVENTOP_DLX_EXCHANGE_NAME=eventop_exchange-dlx
EVENTOP_DEAD_LETTER_ROUTING_KEY=eventop.deadletter.events.*.*
EVENTOP_DEAD_LETTER_QUEUE=eventop-event-mq-dlx-worker
